@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&family=Joan&family=Kdam+Thmor+Pro&family=Poppins:wght@100;400&family=Rubik+Moonrocks&display=swap');

@font-face {
    font-family: Pac;
   
src: url('\PAC-FONT.TTF');
}
*{
    margin:0;
    padding:0;
}
body{
    overflow: hidden;
    
}
.container{
 background-image: url(bg.jpg);
 background-repeat: no-repeat;
 background-size: 100vw 100vh;
 width:100%;
 height:100vh;
 }
 .over{
    
    font-family: Pac;
    position: relative;
    top: 63px;
    font-size: 50px;
    text-align: center;
    visibility: hidden;
    
 }
 #scoreCont{
    position: absolute;
    font-family: comic neue;
    color: rgb(0, 0, 0);
   right: 45px;
font-weight: bold;
    top: 31px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 60%;
    background-color: bisque;

 }
 .hero{
 background-image: url(hero.png);
 background-repeat: no-repeat;
 background-size: 50%50%;
 width:250px;
 height:210px;
 position: absolute;
 bottom:-12px;
 left:1px;}
 .frog{
    background-image: url(monster.png);
    background-repeat: no-repeat;
    background-size: 50%50%;
    width: 186px;
    height: 186px;
    position: absolute;
    bottom: -12px;
    left:30vw ;
 }
 .animateHero{
    animation: hero 1s linear;
 }
 @keyframes hero {
    0% {
        bottom: -12px;
    }
    50%{
        bottom: 300px;
    }
    100%{
        bottom:-12px;
    }
    
 }
.frogAni{
    animation: frogAni 5s linear infinite;
}
 @keyframes frogAni {
    0%{
        left: 100vw;
    }
    100%{
        left:-10vw;
    }
    
 }